#authenticatePanel {
    padding-top: 25%;
    max-width: 600px;
    display: block;
}

#dashboard {
    display: none;
    padding: 50px;
}

#connected_users_title {
    margin: 10px;
}

.card.mb-6.shadow-sm {
    margin-top: 2%;
    margin-bottom: 2%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.error {
    color: #F04823;
    font-size: 12px;
}

button {
    border-radius: 20px;
    padding: 10px;
    background-color: #0084FF;
    color: #fff;
    width: 6em;
    border: 2px solid #0084FF;
}

button:hover,
button:focus {
    background-color: #0966ff;
    border-color: #0966ff;
    cursor: pointer;
}


/* Authentication */

#authentication {
    margin-top: 100px;
}

#authentication * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#authentication .error {
    text-align: center;
}


/* Title Bar */

#title {
    background-color: #0084FF;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    color: #fff;
}


/* Contact list */

#contacts {
    float: left;
    width: 120px;
    padding: 20px;
    background-color: aliceblue;
    min-height: calc(100vh - 85px);
    max-height: calc(100vh - 85px);
    display: none;
}

#contacts .contact .status {
    background-color: #13CF13;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

#contacts .contact .name {
    line-height: 40px;
    vertical-align: super;
}


/* Chat */

#chat {
    float: right;
    width: calc(100% - 160px);
    display: none;
}

#messages {
    min-height: calc(100vh - 130px);
    max-height: calc(100vh - 130px);
    padding: 20px 20px 0 20px;
    overflow-y: auto;
}

#messages .message {
    margin-bottom: 3px;
}

#messages .message .content {
    min-width: 20px;
    max-width: 250px;
    border-radius: 20px;
    padding: 10px;
    display: table;
}

#messages .message.event .content {
    background-color: #FF7E29;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    padding: 7px;
}

#messages .message.received {
    left: 0;
    text-align: left;
}

#messages .message.received .content {
    background-color: gainsboro;
    border-radius: 0 20px 20px;
}

#messages .message.received .sender {
    color: dimgrey;
    font-size: 10px;
}

#messages .message.sent {
    right: 0;
    text-align: right;
}

#messages .message.sent .content {
    background-color: #0084FF;
    margin-left: auto;
    margin-right: 0;
    color: #fff;
    text-align: right;
    border-radius: 20px 0 20px 20px;
}

#messages .message.sent .sender {
    color: #0084FF;
    font-size: 10px;
}

#chat-controls {
    height: 40px;
    padding: 20px 20px 0 20px;
}

#chat-controls button {
    float: right;
}

#chat-controls input[type="text"] {
    width: calc(100% - 9em);
}

#messages .message.sent.same-sender-previous-message .sender,
#messages .message.received.same-sender-previous-message .sender {
    display: none;
}

#messages .message:not(.same-sender-previous-message) {
    margin-top: 10px;
}